@import './reset.scss';
@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  color: #666;
  font-family: 'Montserrat', system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#main-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
