:root {
    --sidebar-background-color: #d4d3d0;
    --sidebar-color: #00000066;

    --footer-background-color: #0000000a;
    --footer-color: #00000066;

    --nav-link-color: #666666;
    --nav-link-hover-color: #cf4717;
    --nav-link-active-color: #ffffff;
    
    --nav-link-background-color: #ffffff;
    --nav-link-hover-background-color: #f0f0f0;
    --nav-link-active-background-color: #cf4717;

    --nav-link-login-color:#666666;
    --nav-link-login-background-color:#c6c6c6;
    
    --nav-link-login-hover-color:#ffffff;
    --nav-link-login-hover-background-color:#b4b4b4;
  }